
  <!-- Footer -->

  <footer id="footer">
    <div class="bottom-container">
      <a class="icon footer-link" href="https://twitter.com/PiyushV78107699"><i class="fab fa-twitter "></i></a>
      <a class="icon footer-link" href="https://www.instagram.com/piyush_verma_co/"><i class="fab fa-instagram"></i></a>
      <a class="icon footer-link" href="https://www.linkedin.com/in/piyush-verma-7a2510203/"><i class="fab fa-linkedin-in"></i></a>
      <a class="icon footer-link" href="mailto:piyushvermaco@gmail.com"><i class="fas fa-envelope"></i></a>
      <p class="cprt">©️ 2022 FCS PROJECT GROUP 13.</p>
    </div>
  </footer>


</body>

</html>
