<%- include('partials/sidebar') -%>
<div class="main">
  <a href="#"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="60"
      height="60"
      fill="currentColor"
      class="bi bi-plus-circle-fill"
      viewBox="0 0 16 16"
      id="fixedbutton"
      data-toggle="modal"
      data-target="#add-data"
    >
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
      />
    </svg>
  </a>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button
            class="btn btn-link"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Socials
          </button>
        </h5>
      </div>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body">
            <% for(var i=0; i<sno; i++) {%>
          <div class="card card-s" style="width: 10rem">
            <div class="card-body">
              <h5 class="card-title">Snapchat</h5>
              <a href="#">Go to link</a>
              <a href="#" class="btn btn-primary"> View </a>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Banking/Finance
          </button>
        </h5>
      </div>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordion"
      >
        <div class="card-body">Anim pariatur</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Wifi Router
          </button>
        </h5>
      </div>
      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">Anim p</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Others
          </button>
        </h5>
      </div>
      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">Anim</div>
      </div>
    </div>
  </div>
</div>

<!-- modals -->
<div
  class="modal fade"
  id="add-data"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Information</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body center">
        <div><button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addpass"
          >
            Password
          </button></div>
          <br>
          <div><button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addnotes"
            data-dismiss="modal"
          >
            Notes
          </button></div>
          <br>
          <div><button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#adddetails"
            data-dismiss="modal"
          >
            Details
          </button></div>
          <br>
          <div><button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addovd"
            data-dismiss="modal"
          >
            Official Documents
          </button></div>
          <br>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div
    class="modal fade"
    id="addpass"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Add Information
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" data-toggle="modal" data-target="#add-pass">
          <form method="POST" action="/addpassword">
            <div class="form-outline mb-4">
              <input
                type="email"
                id="form2Example1"
                class="form-control"
                name="website"
              />
              <label class="form-label" for="form2Example1">
                Name of Website
              </label>
            </div>
            <div class="form-outline mb-4">
              <input
                type="email"
                id="form2Example1"
                class="form-control"
                name="link"
              />
              <label class="form-label" for="form2Example1">
                Link to website
              </label>
            </div>
            <div class="form-outline mb-4">
              <input
                type="email"
                id="form2Example1"
                class="form-control"
                name="username"
              />
              <label class="form-label" for="form2Example1"> Username </label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="form2Example2" class="form-control" name="password"/>
              <label class="form-label" for="form2Example2"> Password </label>
            </div>
            Generate a password ?
            <input
              type="email"
              id="form2Example1"
              class="form-control"
              name="generatepass"
              readonly
            />
            <br>
            <div class="center"><button type="button">Generate</button></div>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Save data</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<div
    class="modal fade"
    id="addnotes"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Add Information
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" data-toggle="modal" data-target="#add-pass">
          <form method="POST" action="/addnotes">
            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example1">
                Notes to be added
              </label>
              <input
                type="email"
                id="form2Example1"
                class="form-control"
                name="notes"
              />
            </div>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Save data</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<div
    class="modal fade"
    id="adddetails"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Add Information
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" data-toggle="modal" data-target="#add-pass">
          <form method="POST" action="/adddetails">
            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example1">
                Name
              </label>
              <input
                type="email"
                id="form2Example1"
                class="form-control"
                name="name"
              />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">
                  Address
                </label>
                <input
                  type="email"
                  id="form2Example1"
                  class="form-control"
                  name="address"
                />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">
                  Mobile Number
                </label>
                <input
                  type="email"
                  id="form2Example1"
                  class="form-control"
                  name="mobile"
                />
              </div>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Save data</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div
    class="modal fade"
    id="addovd"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Add Information
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" data-toggle="modal" data-target="#add-pass">
          <form method="POST" action="/addovd">
            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example1">
                Name of Official Document
              </label>
              <input
                type="email"
                id="form2Example1"
                class="form-control"
                name="nameofdoc"
              />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">
                  Document Number
                </label>
                <input
                  type="email"
                  id="form2Example1"
                  class="form-control"
                  name="docno"
                />
              </div>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Save data</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
