<%- include('partials/header') -%> 

      <!-- Title -->
      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">Paasword Manager</h1>
        </div>

      </div>

    </div>
  </section>